// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here


body {
  margin: 0;
  padding: 0;
  font-family: helvetica, sans-serif;
  /*background: #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Ccircle cx='4.5' cy='4.5' r='4.5' fill='%2323b39c'/%3E%3C/svg%3E") repeat bottom right;*/
  background-image:  url(../imgs/dlinq_plus.svg);
  background-size: 20px 20px;
}

.container {
  background-color: #fff;
}

h1, h2, h3, h4, h5 {
  font-family: 'Rubik Mono One', sans-serif;
  word-spacing: -15px;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: block; 
  position: relative;
}

.entry-content {
	background-color: #fff;
}

#main-nav {
	position: fixed;
	bottom: 0;
	height: 55px;
	width: 100%;
	background-color: #23b39c;
	align-items: center;
	justify-content: center;
	display: block;
	z-index: 100;
}


.title-block {
  margin: 100px auto 100px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  transform: rotate3d(1, 1, 1, -5deg);
}

#classic .title-block {
  transform: rotate3d(1, 1, 1, 0deg);
}

#classic .title-block div {
  color:  #0d395f;
  text-shadow: 1px 1px #000;
}

.title-block div {
  display: inline-block;
  font-family: 'Rubik Mono One', sans-serif;
  font-weight: 400;
  line-height: .8em;
  text-shadow: 4px 2px #23b39c, 6px 4px blue;
  margin-top:  -50px;
}

.midd {
  font-size: 6vw;
  background-color: #000;/* #0d395f*/
  color: #fff;
  padding: 12px;
  margin: 0;
  height: 100%;
  transition: transform 450ms ease-out, text-shadow 0.3s ease;
    text-shadow: 4px 2px #23b39c, 6px 4px #97bbd5;

}

#classic .title-block .midd {
  background-color:  #0d395f;
  color: #fff;
  text-shadow: 1px 1px #000;
}

.create {
/*   font-size: 13em; */
  font-size: 15vw;
  text-transform: uppercase;
  margin-top: 10px;
  will-change: all;
  transition: transform 450ms ease-out, text-shadow 450ms ease, translateY 450ms ease-out;
  margin-bottom: -10px;
}

/*.title-block:hover{
    text-shadow: 2px 4px #23b39c;
    transition: transform 350ms ease-out, text-shadow 0.3s ease;
    transform: translateY(-4px);
}*/

.do-block {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  word-spacing: -10px;
  z-index: 100;
}

.you-can {
  font-family: 'Rubik Mono One', sans-serif;
  text-align: center;
/*   font-size: 3em; */
  font-size: 2vw;
  margin-top: 20px;
  margin: 0;
  padding: 10px 0;
  border-bottom: 2px solid #0d395f;
}

#verb {
  background-color: #23b39c;
  padding: 0 10px;
  display: inline-block;
  transition: all .5s;
  transform: rotate3d(1, 0, 0, 0deg);
  min-width: 5px;
}

body .txt-rotate > .wrap {
  border: #23b39c;
}

.home-row {
	padding: 70px 4vw;
}

.home-description {
	padding: 0 40px;
}

#classic #verb {
  background-color: #0d395f;
  color:  #fff;
}

#classic .txt-rotate > .wrap {
  border: #0d395f;
}


/*.spacer {
  height: 4000px;
  background-color: pink;
}*/

.period:after {
  content: '';
  height: 5px;
  width: 5px;
  display: inline-block;
  background: #23b39c;
}

.row {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.block p {
  font-size: 1.4em;
  background: #fff;
}

.flex-1 {
  flex: 1;
  padding:  20px;
}

.flex-2 {
  flex: 2;
  padding:  20px;
}

.flex-3 {
 flex: 3;
 padding:  20px;
}


.main-label {
  font-size: 3.3vw;
  text-align: right;
  margin: 0 50px 0 0;
  /*background: repeating-linear-gradient(
  45deg,
  #23b39c,
  #23b39c 1px,
  #fff 1px,
  #fff 14px
  );*/
  text-shadow: 2px 2px #23b39c;
  transition: all 1s ease;
  width:  100%;
  position: relative;
  z-index: 2;
  display: inline-block;
}

#classic .main-label {
    text-shadow: 0px 0px #23b39c;
    padding-right: 15px;
    color: #0d395f;
}

.main-label:before{
  content:  '';
    z-index: -1;
    display:  block;
    top: -6vh;
    right: 0;
    bottom: -4vh;
    width:  100%;
    height:  140px;
    opacity: .6;
    background-image: radial-gradient(#23b39c 8%, transparent 0);
    background-size: 29px 29px;
    position: absolute;
      webkit-transition: background-size 4500ms ease;
    -moz-transition: background-size 4500 linear;
    -o-transition: background-size 4500 ease;
    -ms-transition: background-size 4500ms ease;
    transition: background-size 4500ms ease;
}

#classic .main-label:before{
  background-image: none;
  background-color: #97bbd5;
   height: 0;
}

.main-label:hover:before{
      background-size: 19px 19px;
}

.examples .main-label {
  margin: 30px 30px 0 0;
}

.midd-button {
  background-color: #0d395f;
  color:  #fff;
  box-shadow: 0px 0px #23b39c;
  padding:  10px 15px;
  display: inline-block;
  transition: box-shadow 450ms ease;
}

.midd-button:hover{
    box-shadow: 4px 4px #23b39c;
}

.goals {
	background-color: $blackish;
	padding: 50px 0;
}

.goal {
	text-align: center;
	color: #fff;
}

.example {
	margin-top: 40px;
}

.example-img {
	aspect-ratio: 1 / 1;
}

a .example h3 {
	color: #fff;
	padding-top: 10px;
}

/*FOOTER*/

.footer {
  position: fixed;
  bottom: 0;
  height: 55px;
  width: 100%;
  background-color: #23b39c;
   align-items: center;
  justify-content: center;
}

#classic .footer {
  background-color: #97bbd5;
}

.menu-item {
  flex: 1;
  text-align: center;
}

.menu-item {
  padding: 5px 10px;
  background: #fff;
  border: 1px solid #000;
  position: relative;
    z-index: 1;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 6px 12px;
    outline: 0;
    display: block;
    transition: color .2s linear,transform .2s linear,border-color .2s linear;
}

.menu-item a{
  position: relative;
  display: block;
  z-index: 5;
  color: #0D395F;
  text-decoration: none;
  margin-bottom: 6px;
  transition: bottom .5s linear, right .3s linear;
}

.menu-item:before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 1px;
    right: 1px;
    width: 100%;
    display: block;
    height: 100%;  
    border: 1px solid #242a49;
    background-color: #fff;
    transition: border-color .2s linear;
}

.menu-item:after {
    content: "";
    position: absolute;
    bottom: 3px;
    right: 3px;
    width: 100%;
    height: 100%;
    border: 1px solid #242a49;
    background-color: #fff;
    transition: border-color .2s linear;
    z-index: 0;
}

.menu-item a:hover {
  padding-right:  2px;
  padding-bottom: 2px;
}

.menu-item:hover:before {
  bottom:  2px;
  right:  2px;
}

.menu-item:hover:after {
  bottom:  5px;
  right:  5px;
  background-color: #efefef;

}

#switch-theme {
  position: absolute;
  top:  10px;
  right:  10px;
  border-radius: 0;
  border:  0;
  background-color: #242a49;
  color: #fff;
  padding:  10px 15px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .row {
    display: block;
  }
  .main-label {
    font-size: 5vw;
  }
  
}